<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Success</h1>
    <p class="lead"> Cancer Class:

        {{  cancer  }}
    </p>
        <p class="lead"> Probability:

            {{  probability  }}
    </p>
            <button onClick="goBack()"><i class="fas fa-home"></i> Back</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
</body>
</html>